{% extends 'base.html' %}
{% load publication_extras %}
{% block content %}
<h2>Flux</h2>
<div class="grid-container">
    {% for instance in page_obj %}
    {% if instance|model_type == 'Review' %}
    <div class="post">
        <div class="heading">
            {% if review.user == user %}
            <p>{% get_poster_display instance.user %} avez publié une critique</p>
            {% else %}
            <p>{{ instance.user }} à publié une critique</p>
            {% endif %}
            <p>{{ instance.time_created }}</p>
        </div>
        <a href="{% url 'view_review' instance.id %}">
            <h4>Critique : {{ instance.headline }}</h4>
            <img src="{{ instance.ticket.image.url }}">
        </a>
    </div>
    {% elif instance|model_type == 'Ticket' %}
    <div class="post">
        <div class="heading">
            {% if instance.user == user %}
            <p>{% get_poster_display instance.user %} avez demandé une critique</p>
            {% else %}
            <p>{{ instance.user }} à demandé une critique</p>
            {% endif %}
            <p>{{ instance.time_created }}</p>
        </div>
        <a href="{% url 'view_ticket' instance.id %}">
            <h4>Titre : {{ instance.title }}</h4>
            <img src="{{ instance.image.url }}" alt="IMG">
    </div>
    {% endif %}
    {% endfor %}
</div>
<span class="page">
    {% if page_obj.has_previous %}
    <a href="?page=1">« première</a>
    <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
    {% endif %}

    <span>
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">suivante </a>

    <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
    {% endif %}
</span>
{% endblock content %}