{% extends 'base.html' %}
{% load publication_extras %}
{% block content %}
<h2>Flux</h2>
<div class="grid-container">
    {% for instance in page_obj %}
    {% if instance|model_type == 'Review' %}
    <div class="post">
        <div class="heading">
            <p>{{ instance.user }} à publié une critique</p>
            <p>{{ instance.time_created }}</p>
        </div>
        <a href="{% url 'view_review' instance.id %}">
            <h4>Critique : {{ instance.headline }}</h4>
            <img src="{{ instance.ticket.image.url }}">
        </a>
    </div>
    {% elif instance|model_type == 'Ticket' %}
    <div class="post">
        <div class="heading">
            <p>{{ instance.user }} à demandé une critique</p>
            <p>{{ instance.time_created }}</p>
        </div>
        <a href="{% url 'view_ticket' instance.id %}">
            <h4>Titre : {{ instance.title }}</h4>
            <img src="{{ instance.image.url }}" alt="IMG">
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}
<!--
<h2>Tickets</h2>
<div class="grid-container">
    {% for ticket in tickets %}
    <div class="post">
        <p>{{ ticket.user }} à demandé une critique</p>
        <a href="{% url 'view_ticket' ticket.id %}">
            <h4>Titre : {{ ticket.title }}</h4>
            <img src="{{ ticket.image.url }}" alt="IMG">
        </a>
    </div>
    {% endfor %}
</div>
<h2>Reviews</h2>
<div class="grid-container">
    {% for review in reviews %}
    <div class="post">
        <a href="{% url 'view_review' review.id %}">
            <h4>Critique : {{ review.headline }}</h4>
            <img src="{{ review.ticket.image.url }}" alt=IMG>
        </a>
    </div>
    {% endfor %}
</div>

-->