{% extends 'base.html' %}
{% block content %}
<div class="heading">
    <p>Demande de critique de {{ ticket.user }}</p>
    <p>{{ ticket.time_created }}</p>
</div>
<h2>{{ ticket.title }}</h2>
<p>{{ ticket.description }}</p>
<img src="{{ ticket.image.url }}" alt="IMG">
<p class="answer"><a href="{% url 'answer_ticket' ticket.id %}">Répondre à la demande</a></p>
<p class="modify"><a href="{% url 'edit_ticket' ticket.id %}">Modifier la demande (ne pas montrer si pas "vous")</a></p>
<button type="submit"><a href="{% url 'home' %}">Retour</a></button>
{% endblock content %}