{% extends 'base.html' %}
{% load publication_extras %}
{% block content %}
<div class="heading">
    {% if ticket.user == user %}
    <p>{% get_poster_display ticket.user %} avez demandé une critique</p>
    {% else %}
    <p>{{ ticket.user }} a demandé une critique</p>
    {% endif %}
    <p>{{ ticket.time_created }}</p>
</div>
<h2>{{ ticket.title }}</h2>
<p>{{ ticket.description }}</p>
<img src="{{ ticket.image.url }}" alt="IMG">
{% if ticket.review_set.count == 0 %}
<p class="answer"><a href="{% url 'answer_ticket' ticket.id %}">Répondre à la demande</a></p>
{% endif %}
{% if ticket.user == user %}
<p class="modify"><a href="{% url 'edit_ticket' ticket.id %}">Modifier la demande</a></p>
{% endif %}
<button type="submit"><a href="{% url 'home' %}">Retour</a></button>
{% endblock content %}