{% extends 'base.html' %}
{% load publication_extras %}
{% block content %}
<div class="review">
    <div class="heading">
        {% if review.user == user %}
        <p>{% get_poster_display review.user %} avez publié une critique</p>
        {% else %}
        <p>{{ review.user }} a publié une critique</p>
        {% endif %}
        <p>{{ review.time_created }}</p>
    </div>
    <h2>{{ review.headline }}</h2>
    <p class="ratings">Rating :
        {% if review.rating == 0 %}<span class="fa fa-star"></span><span class="fa fa-star"></span><span
            class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
        {% endif %}

        {% if review.rating == 1 %}
        <span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
            class="fa fa-star"></span><span class="fa fa-star"></span>
        {% endif %}

        {% if review.rating == 2 %}
        <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
            class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
        {% endif %}

        {% if review.rating == 3 %}
        <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
            class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
        {% endif %}

        {% if review.rating == 4 %}
        <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
            class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
        {% endif %}

        {% if review.rating == 5 %}
        <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
            class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
            class="fa fa-star checked"></span>
        {% endif %}
        {{ review.rating }}
    </p>
    <img src="{{ review.ticket.image.url }}" alt="IMG">
    <p>{{ review.body }}</p>
    <div class="ticket_in_review">
        <div class="heading">
            {% if review.ticket.user == user %}
            <p>{% get_poster_display review.ticket.user %} avez demandé une critique</p>
            {% else %}
            <p>{{ review.ticket.user }} a demandé une critique</p>
            {% endif %}
            <p>{{ review.ticket.time_created }}</p>
        </div>
        <p>{{ review.ticket.title }}</p>
        <p>{{ review.ticket.description }}</p>
    </div>
    {% if review.user == user %}
    <p class="modify"><a href="{% url 'edit_review' review.id %}">Modifier la critique</a></p>
    {% endif %}
    <button type="submit"><a href="{% url 'home' %}">Retour</a></button>
</div>
{% endblock content %}