/* For the entire site */
.global{
    max-width: 80%;
    text-align: center;
    border: 1px black solid;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
.modify{
    border: 1px black solid;
    max-width: max-content;
    margin: 20px auto;
}
.answer{
    border: 1px black solid;
    max-width: max-content;
    margin: 20px auto;
}

/* Rating stars */
.checked{
    color: orange;
}

/* Navigation bar */
nav{
    border: 1px black solid;
    padding: 30px;

}
ul{
    list-style-type: none;
}
.navigation {
    display: inline-block;
}
a{
    padding: 20px;
}
.navigation_left{
    display: inline-block;
}
.navigation_right{
    display: inline-block;
}

/* Create buttons */
.creation a{
    border: solid black 1px;
    display: auto;
}
.container{
    display: flex;
    padding: 50px;
    border: solid black 1px;
}
.creation{
    flex-grow: 1;
}

/* Flux */
.grid-container{
    padding: 20px;
    border: solid black 1px;
}
.post{
    border: solid black 1px;
}

/* Etoiles */
.ratings{
    background: U+2727;
    background: U+2726;
}

/* Inside the review */
.review{
    border: solid black 1px;
}
.ticket_in_review{
    border: solid black 3px;
    max-width: 60%;
    margin-left: auto;
}
.heading{
    display: inline-flex;
    font-size: 0.8em;
    width: auto;
}
.heading p{
    padding: 0 50px;
}